<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Press+Start+2P&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"></script>
  </head>
  <body class="back-bg">
    <nav class="navbar my-nav navbar-dark sticky-top ">
      <div class="container-fluid">
        <a class="navbar-brand" href="../"><img src="/static/images/logo.svg"
            alt></a>
        <button class="navbar-toggler nav-botton" type="button"
          data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1"
          id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Settings</h5>
            <button type="button" class="btn-close btn-close-white"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero " id="hi">
      <div class=" heading">
        <h1>Hey,</h1><h1><%= username %></h1>
      </div>

    </section>

    <section class="body">
      <div class="container text-center">
        <div class="row">
          <div class="list-pok col-12">
            <h1>Your favourite Pokemons ...</h1>
          </div>

          <% for( let i=0; i < data.length; i++ ) { %>

          <a href="../pokemon/<%=data[i].pokemon_id%>-<%=data[i].pokemon_name%>"
            class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="card-poke">
              <div class="poke-img">
                <img
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/<%= data[i].pokemon_id %>.svg"
                  alt="pok" class="animal">
              </div>
              <div class="poke-name">
                <h1 class="desc"><%= data[i].pokemon_name %></h1>
              </div>
            </div>
          </a>
          <% } %>
        </div>
      </div>
    </section>

  </body>
  <script src="/static/js/token.js"></script>
</html>